{{> navbar}}

<h1>Ingrese un Producto</h1>
<div class="container">
    <form method="POST" action="productos" class="formulario">
        <label>Nombre</label>
        <input type="text"  name="title">
        <label>Precio</label>
        <input type="number" name="price">
        <label>URL</label>
        <input type="text" name="thumbnail" >
        <input type="submit" value="Enviar" class="button"/>
    </form>
</div>  

{{> footer}}